/*ToDo: New CSS for site idea; full size html background white; 
    square color image center; 4 centered square social media buttons*/

body, .projectPicture h4 {
    font-family: 'Roboto', sans-serif !important;
}

 h4, p {
    font-family: 'Roboto Condensed', sans-serif !important;
 }

.container {
    padding: 80px 120px;
}

body {
    height: 100vh;
}

#main_container {
    height: 100vh;
}

#content_container {
    position: absolute;
    bottom: 50px;
}

div#profile {
    text-align: center;
}

div#icons {
    text-align: center;
}

a.fa {
    display: block;
    padding: 25px;
    font-size: 30px;
    min-width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    background: white;
    color: black;
    border: 5px solid black;
  }

  .fa:hover {
    text-decoration: none;
    background: black;
    color: white;
    border: 5px solid white;
}

img.profile {
    max-height: 350px;
    padding: 15px;
    border: 5px solid black;
    background: white;
}

.row {
    margin: auto;
    padding: 25px;
}

