body, .projectPicture h4 {
    font-family: 'Roboto', sans-serif !important;
}

 h4, p {
    font-family: 'Roboto Condensed', sans-serif !important;
 }

.container {
    padding: 80px 120px;
}

.container.profileContainer {
    background: #424242;
    color: #bdbdbd;
}

.profileBackground {
    background: #424242;
    color: #fff;
}

.profile {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
    max-height: 250px;
    padding: 15px;
}

.about {
    background: #e0e0e0;
}

.background1 {
    background: #424242;
    color: #fff;
}

.background1 h3 {
    color: #fff;
}

.projectPictures img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.projectPicture {
    padding: 15px;
    border-radius: 0 !important;
    border: none;
    background-color: #fff;
    color: #000;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0 !important;
    transition: 0.2s;
}

.btn:hover {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}

.contact {
    background-color: #e0e0e0;
}

textarea{
    resize: none;
}

.form-control {
    border-radius: 0 !important;
}

.navbar {
    margin-bottom: 0;
    background-color: #1b1b1b !important;
    border: 0 !important;
    font-size: 11px !important;
    letter-spacing: 4px;
    box-shadow: 5px #1b1b1b;
}

.navbar li a, .navbar {
    color: #fff !important;
}

.navbar-nav li a:hover {
    background-color: #424242 !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #424242 !important;
}

footer {
    background-color: #424242;
    color: #fff;
    padding: 32px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

.row {
    margin: auto;
    padding: 25px;
}

.socialIcons {
    padding: 25px;
}

span.info {
    padding: 25px;
}
